{% extends 'layouts/base.html' %}

{%block content%}
<center>
    <form action="{% url 'signup' %}" method="post">
        {{ errors }}
        {% csrf_token %}
        <div class="auth">

            <div class="auth_left">
                <div class="card">
                    <div class="text-center mb-5">
                        <a class="header-brand" href="index-2.html"><i class="fa fa-soccer-ball-o brand-logo"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="card-title">Create new account</div>
                        <div class="form-group">
                            <label class="form-label">First Name</label>
                            <input name="first_name" type="text" class="form-control" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Last Name</label>
                            <input type="text" name="last_name" class="form-control" placeholder="Enter name">
                        </div>

                        <div class="form-group">
                            <label class="form-label">Email address</label>
                            <input type="text" name="email" class="form-control" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" />
                                <span class="custom-control-label">Agree the <a href="#">terms and policy</a></span>
                            </label>
                        </div>
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary btn-block">Create new account</button>
                        </div>
                    </div>
                    <div class="text-center text-muted">
                        Already have account? <a href="login.html">Sign in</a>
                    </div>
                </div>
            </div>
            <div class="auth_right full_img"></div>
        </div>
    </form>
</center>

{% endblock %}